<div class="controller">
    
    @{
        ViewBag.Title = "Administration";
    }

    <h2>Administration Functions</h2>

    <div class="sympaMsg">
        <p>@ViewBag.SympaMsg</p>
    </div>
    <ul class="menu2">
        <li>@Html.ActionLink("Load WMIC file  ", "Load", "Admin")</li>
        <li>@Html.ActionLink("Future function  ", "Future", "Admin")</li>
    </ul>

</div>