<div class="controller">
    
    @{
        ViewBag.Title = "Load WMIC report";
    }

    <h2>Load latest WMIC report</h2>

    <div class="sympaMsg">
        <p>@ViewBag.SympaMsg</p>
    </div>
    <div id="loadfile">
        <form action="load" method="post">
            <input class="dataset" type="file" name="wmicfile">
            <br />
            <input type="submit" value="Process File">
        </form>
    </div>

</div>