@{
    ViewBag.Title = "Programma Informatie";
<div class="controller">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>De SYMPA applicatie biedt uitgebreide mogelijkheden voor Windows PC configuratie management voor thuisgebruik.</p>

    <p>SYMPA bestaat uit verschillende componenten:</p>
    <ol>
        <li>Een python programma (WMIC3) waarmee een inventory kan worden gemaakt van de PC's (via WMIC)</li>
        <li>
            Een dotNet applicatie waarmee:
            <ol>
                <li>De gegegevens die door WMIC3 zijn verzameld kunnen worden ingelezen in een Configuratie DataBase</li>
                <li>Rapportages kunnen worden gedraaid over deze gegevens</li>
                <li>Andere informatie aan deze informatie kan worden toegevoegd</li>
            </ol>
        </li>
    </ol>
    <h3>Release notes:</h3>

</div>}


