@{
    ViewBag.Title = "Contactgegevens";
}
<div class="controller">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>

        <dl id="sympaAbout">
            <dt>Developer :</dt>
            <dd>AdH.Code - Aart den Hoed</dd>
            <dt>ADHC - HomePage :</dt>
            <dd><a href="http://ahmrdh.home.xs4all.nl/Index.html">Klik hier</a></dd>
            <dt>LinkedIn :</dt>
            <dd><a href="https://nl.linkedin.com/in/aartdenhoed">Klik hier</a></dd>
            <dt>Mail :</dt>
            <dd><a href="mailto:adh.code@gmail.com">AdH.Code</a></dd>
        </dl>

    </address>
</div>