@model System.Web.Mvc.HandleErrorInfo
<div class="controller">

    @{
        ViewBag.Title = "Error";
    }

    <h4 class="text-danger">An error occurred while processing your request.</h4>

    <p></p>

    <div class="sympaMsg">
        <p>@ViewBag.SympaMsg</p>
    </div>

    

</div>
